In [72]:
import numpy as np
import pandas as pd

In [37]:
df1 = pd.read_csv("table_txt.txt", sep ='\t', header =0,names = ['B','Sq','Loc','Pr'])

In [38]:
df1

   B    Sq        Loc      Pr
0  2  1500       Good  300000
1  3  1300       Fair  240000
2  3  1900  Very good  450000
3  3  1850        Bad  280000
4  2  1640       Good  310000

In [53]:
df2 = pd.read_csv("CSV_EX_2.csv",names = ['B','Sq','Loc','Pr'],nrows =2)

In [54]:
df2

   B    Sq    Loc      Pr
0  2  1500   Good  300000
1  3  1300   Fair  240000

In [27]:
df2 = pd.read_csv("CSV_EX_2.csv",header=None, names = ['bed','Sq.ft','Local','Prices'])

In [28]:
df2

   bed  Sq.ft       Local  Prices
0    2   1500        Good  300000
1    3   1300        Fair  240000
2    3   1900   Very good  450000
3    3   1850         Bad  280000
4    2   1640        Good  310000

In [31]:
df3 = pd.read_csv("CSV_EX_3.csv", sep =';')

In [32]:
df3

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [34]:
df4 = pd.read_csv("CSV_EX_1.csv")

In [36]:
df4

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [51]:
df5 = pd.read_csv("CSV_EX_skiprows.csv", skiprows =2,skipfooter =1,engine='python')

In [52]:
df5

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000

# How to combine skiprows and nrows to read data in small chunks

In [58]:
li = []

no_of_rows = 10

chunks =5

df = pd.read_csv("Boston_housing.csv",nrows=2)

In [65]:
colnames = df.columns

for i in range(0, no_of_rows * chunks, no_of_rows):
    
    df = pd.read_csv("Boston_housing.csv", header = 0, skiprows = i,nrows = no_of_rows, names = colnames)
    
    li.append(df)

In [70]:
len(li)

5

Setting the option to skip_blank_lines

In [72]:
df9 = pd.read_csv("CSV_EX_blankline.csv")
df9

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [75]:
df9 = pd.read_csv("CSV_EX_blankline.csv", skip_blank_lines= False)
df9

   Bedroom   Sq. foot    Locality   Price ($)
0      2.0     1500.0        Good    300000.0
1      3.0     1300.0        Fair    240000.0
2      NaN        NaN         NaN         NaN
3      3.0     1900.0   Very good    450000.0
4      3.0     1850.0         Bad    280000.0
5      NaN        NaN         NaN         NaN
6      2.0     1640.0        Good    310000.0

In [77]:
import csv
with open("CSV_EX_2.csv",'r') as file:
    my_reader = csv.reader(file)
    for row in my_reader:
        print(row)

['2', ' 1500', ' Good', ' 300000']
['3', ' 1300', ' Fair', ' 240000']
['3', ' 1900', ' Very good', ' 450000']
['3', ' 1850', ' Bad', ' 280000']
['2', ' 1640', ' Good', ' 310000']

In [1]:
import csv
mess = []
with open("CSV_EX_2.csv") as file:
    reader = csv.DictReader(file, fieldnames = ('Bedroom','Sq.foot','Loc','Price'))
    for row in reader:
        mess.append(row)

In [2]:
for key in mess:
    print(key)

OrderedDict([('Bedroom', '2'), ('Sq.foot', ' 1500'), ('Loc', ' Good'), ('Price', ' 300000')])
OrderedDict([('Bedroom', '3'), ('Sq.foot', ' 1300'), ('Loc', ' Fair'), ('Price', ' 240000')])
OrderedDict([('Bedroom', '3'), ('Sq.foot', ' 1900'), ('Loc', ' Very good'), ('Price', ' 450000')])
OrderedDict([('Bedroom', '3'), ('Sq.foot', ' 1850'), ('Loc', ' Bad'), ('Price', ' 280000')])
OrderedDict([('Bedroom', '2'), ('Sq.foot', ' 1640'), ('Loc', ' Good'), ('Price', ' 310000')])

In [23]:
# mess[0].keys()
mess[0]['Loc']

' Good'

In [6]:
import csv
from collections import namedtuple

Msg = namedtuple('Msg', ('Bedroom', 'Sqfoot', 'Loc', 'Price'))

messages = []
with open('CSV_EX_2.csv') as csvfile:
    msgreader = csv.reader(csvfile)
    for row in msgreader:
        messages.append(Msg(*row))

In [7]:
messages

[Msg(Bedroom='2', Sqfoot=' 1500', Loc=' Good', Price=' 300000'),
 Msg(Bedroom='3', Sqfoot=' 1300', Loc=' Fair', Price=' 240000'),
 Msg(Bedroom='3', Sqfoot=' 1900', Loc=' Very good', Price=' 450000'),
 Msg(Bedroom='3', Sqfoot=' 1850', Loc=' Bad', Price=' 280000'),
 Msg(Bedroom='2', Sqfoot=' 1640', Loc=' Good', Price=' 310000')]

# Working On Ordered dictionary

In [13]:
from collections import OrderedDict
b=OrderedDict()
b['egg'] = 2
b['fish'] = 3
b['milk'] = 1
b['paneer'] =4
b

OrderedDict([('egg', 2), ('fish', 3), ('milk', 1), ('paneer', 4)])

In [36]:
for key, value in b.items():
    print('key:{0}   Value:{1}'.format(key,value))

key:egg   Value:77
key:fish   Value:3
key:milk   Value:1
key:paneer   Value:7
key:chicken   Value:12

In [33]:
# updating the ordered list
b.update([('egg', 77),('paneer', 7)])

In [53]:
# adding new keys to the data
b['chicken'] = 12

In [54]:
# fetching data using get function
b.get('chicken', 'Not Found')

12

In [55]:
# deleting keys from the ordered list

x = b.pop('chicken')

In [56]:
x

12

In [67]:
li = ['cat','dog', 'eagle', 'lizard', 'elephant']

In [68]:
x = li.pop(0)

In [69]:
li

['dog', 'eagle', 'lizard', 'elephant']

In [70]:
x

'cat'

# Working on JSON files

In [74]:
js = pd.read_json("movies.json")

In [76]:
js.head(100)

,Creative_Type,Director,Distributor,IMDB_Rating,IMDB_Votes,MPAA_Rating,Major_Genre,Production_Budget,Release_Date,Rotten_Tomatoes_Rating,Running_Time_min,Source,Title,US_DVD_Sales,US_Gross,Worldwide_Gross
0,None,None,Gramercy,6.1,1071.0,R,None,8000000.0,Jun 12 1998,NaN,NaN,None,The Land Girls,NaN,146083.0,146083.0
1,None,None,Strand,6.9,207.0,R,Drama,300000.0,Aug 07 1998,NaN,NaN,None,"First Love, Last Rites",NaN,10876.0,10876.0
2,None,None,Lionsgate,6.8,865.0,None,Comedy,250000.0,Aug 28 1998,NaN,NaN,None,I Married a Strange Person,NaN,203134.0,203134.0
3,None,None,Fine Line,NaN,NaN,None,Comedy,300000.0,Sep 11 1998,13.0,NaN,None,Let's Talk About Sex,NaN,373615.0,373615.0
4,Contemporary Fiction,None,Trimark,3.4,165.0,R,Drama,1000000.0,Oct 09 1998,62.0,NaN,Original Screenplay,Slam,NaN,1009819.0,1087521.0
5,None,None,MGM,NaN,NaN,None,None,1600000.0,Jan 15 1999,NaN,NaN,None,Mississippi Mermaid,NaN,24551.0,2624551.0
6,None,Christopher Nolan,Zeitgeist,7.7,15133.0,R,None,6000.0,Apr 04 1999,NaN,NaN,None,Following,NaN,44705.0,44705.0
7,Contemporary Fiction,None,Artisan,3.8,353.0,R,Comedy,1600000.0,Apr 09 1999,NaN,NaN,Original Screenplay,Foolish,NaN,6026908.0,6026908.0
8,None,Roman Polanski,None,5.8,3275.0,R,None,40000000.0,Jul 01 1986,25.0,NaN,None,Pirates,NaN,1641825.0,6341825.0
9,None,None,None,7.0,2906.0,None,None,6000000.0,Dec 31 2046,86.0,NaN,None,Duel in the Sun,NaN,20400000.0,20400000.0
10,None,None,None,7.0,4035.0,None,None,1000000.0,Oct 07 1963,81.0,NaN,None,Tom Jones,NaN,37600000.0,37600000.0
11,None,None,Sony Pictures,7.5,9111.0,None,Musical,10000000.0,Dec 11 1968,84.0,NaN,None,Oliver!,NaN,37402877.0,37402877.0
12,None,None,Universal,8.4,82786.0,None,None,2000000.0,Dec 25 1962,97.0,NaN,None,To Kill A Mockingbird,NaN,13129846.0,13129846.0
13,None,Richard Fleischer,None,NaN,NaN,None,None,25000000.0,Sep 23 1970,NaN,NaN,None,"Tora, Tora, Tora",NaN,29548291.0,29548291.0
14,None,None,None,6.8,1532.0,None,None,100000.0,Mar 01 1987,87.0,NaN,None,Hollywood Shuffle,NaN,5228617.0,5228617.0
15,None,None,None,NaN,NaN,None,None,100000.0,Sep 17 2020,NaN,NaN,None,Over the Hill to the Poorhouse,NaN,3000000.0,3000000.0
16,None,None,None,7.0,451.0,None,None,5200000.0,Aug 01 2044,NaN,NaN,None,Wilson,NaN,2000000.0,2000000.0
17,None,Blake Edwards,None,6.1,858.0,None,None,22000000.0,Jan 01 1970,NaN,NaN,None,Darling Lili,NaN,5000000.0,5000000.0
18,None,None,None,2.5,1677.0,None,None,13500000.0,Oct 05 1956,90.0,NaN,None,The Ten Commandments,NaN,80000000.0,80000000.0
19,None,Sidney Lumet,United Artists,8.9,119101.0,None,Drama,340000.0,Apr 13 1957,NaN,NaN,Original Screenplay,12 Angry Men,NaN,0.0,0.0
20,Science Fiction,Terry Gilliam,Universal,8.1,169858.0,R,Drama,29000000.0,Dec 27 1995,NaN,NaN,Based on Short Film,Twelve Monkeys,NaN,57141459.0,168841459.0
21,Historical Fiction,None,Sony/Columbia,7.0,4099.0,PG,Drama,4000000.0,Nov 09 1972,57.0,NaN,Based on Play,1776,NaN,0.0,0.0
22,Historical Fiction,Steven Spielberg,Universal,5.6,13364.0,None,Comedy,32000000.0,Dec 14 1979,33.0,NaN,Original Screenplay,1941,NaN,34175000.0,94875000.0
23,None,None,Strand,6.3,365.0,Not Rated,Thriller/Suspense,1900000.0,Jun 29 2007,NaN,NaN,Original Screenplay,Chacun sa nuit,NaN,18435.0,18435.0
24,Science Fiction,Stanley Kubrick,None,8.4,160342.0,None,None,10500000.0,Apr 02 1968,96.0,NaN,Original Screenplay,2001: A Space Odyssey,NaN,56700000.0,68700000.0
25,None,Richard Fleischer,Walt Disney Pictures,NaN,NaN,None,Adventure,5000000.0,Dec 23 1954,92.0,NaN,Based on Book/Short Story,"20,000 Leagues Under the Sea",NaN,28200000.0,28200000.0
26,None,None,None,NaN,NaN,None,Adventure,200000.0,Dec 24 2016,NaN,NaN,Based on Book/Short Story,"20,000 Leagues Under the Sea",NaN,8000000.0,8000000.0
27,None,Shane Meadows,October Films,6.9,1417.0,R,Comedy,2000000.0,Apr 15 1998,NaN,NaN,Original Screenplay,24 7: Twenty Four Seven,NaN,72544.0,72544.0
28,Contemporary Fiction,Michael Polish,Sony Pictures Classics,7.1,2810.0,R,Drama,500000.0,Jul 30 1999,77.0,NaN,Original Screenplay,Twin Falls Idaho,NaN,985341.0,1027228.0
29,Historical Fiction,None,None,NaN,NaN,R,Action,20000000.0,Apr 03 2008,NaN,NaN,Based on Book/Short Story,Three Kingdoms: Resurrection of the Dragon,NaN,0.0,22139590.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,None,None,None,5.4,236.0,None,None,4000000.0,Mar 01 1987,NaN,NaN,None,"Barbarians, The",NaN,800000.0,800000.0
71,Contemporary Fiction,Chris Noonan,Universal,7.3,35644.0,G,Adventure,30000000.0,Aug 04 1995,98.0,NaN,Based on Book/Short Story,Babe,NaN,63658910.0,246100000.0
72,Contemporary Fiction,None,Wingate Distribution,NaN,NaN,R,Romantic Comedy,2900000.0,Mar 24 2006,NaN,104.0,Original Screenplay,Boynton Beach Club,NaN,3127472.0,3127472.0
73,Contemporary Fiction,Patrick Read Johnson,20th Century Fox,5.0,8332.0,PG,Comedy,50000000.0,Jul 01 1994,21.0,NaN,Original Screenplay,Baby's Day Out,NaN,16581575.0,16581575.0
74,None,Taylor Hackford,Walt Disney Pictures,7.7,10142.0,None,None,35000000.0,Apr 16 1993,NaN,NaN,Original Screenplay,Bound by Honor,NaN,4496583.0,4496583.0
75,Contemporary Fiction,None,Alliance,6.9,151.0,Not Rated,Comedy,8000000.0,Aug 04 2006,67.0,NaN,Original Screenplay,"Bon Cop, Bad Cop",NaN,12671300.0,12671300.0
76,Science Fiction,Robert Zemeckis,Universal,8.4,201598.0,None,Adventure,19000000.0,Jul 03 1985,96.0,NaN,Original Screenplay,Back to the Future,NaN,210609762.0,381109762.0
77,Science Fiction,Robert Zemeckis,Universal,7.5,87341.0,None,Adventure,40000000.0,Nov 22 1989,64.0,NaN,Original Screenplay,Back to the Future Part II,NaN,118450002.0,332000000.0
78,Science Fiction,Robert Zemeckis,Universal,7.1,77541.0,None,Adventure,40000000.0,May 24 1990,71.0,NaN,Original Screenplay,Back to the Future Part III,NaN,87666629.0,243700000.0
79,Historical Fiction,George Roy Hill,20th Century Fox,8.2,57602.0,None,Western,6000000.0,Oct 24 1969,90.0,NaN,None,Butch Cassidy and the Sundance Kid,NaN,102308900.0,102308900.0
80,Contemporary Fiction,Michael Bay,Sony Pictures,6.6,53929.0,R,Action,23000000.0,Apr 07 1995,39.0,NaN,Original Screenplay,Bad Boys,NaN,65647413.0,141247413.0
81,Contemporary Fiction,Brian De Palma,Sony/Columbia,6.4,9738.0,None,Thriller/Suspense,10000000.0,Oct 26 1984,84.0,NaN,Original Screenplay,Body Double,NaN,8801940.0,8801940.0
82,None,None,Warner Bros.,NaN,NaN,None,None,210000.0,Jun 13 1953,90.0,NaN,Based on Book/Short Story,"The Beast from 20,000 Fathoms",NaN,5000000.0,5000000.0
83,Fantasy,None,New Line,3.3,1327.0,None,None,6000000.0,Aug 30 1991,17.0,NaN,Based on Book/Short Story,Beastmaster 2: Through the Portal of Time,NaN,773490.0,773490.0
84,Fantasy,None,MGM,5.7,5734.0,None,Action,5000000.0,Aug 20 1982,50.0,NaN,Based on Book/Short Story,The Beastmaster,NaN,10751126.0,10751126.0
85,None,None,MGM,8.2,58510.0,None,Adventure,3900000.0,Dec 30 2025,NaN,NaN,Based on Book/Short Story,Ben-Hur,NaN,9000000.0,9000000.0
86,None,William Wyler,MGM,8.2,58510.0,None,Adventure,15000000.0,Nov 18 1959,91.0,NaN,Based on Book/Short Story,Ben-Hur,NaN,73000000.0,73000000.0
87,None,None,None,5.8,1801.0,None,Adventure,500000.0,Nov 15 1974,83.0,NaN,Original Screenplay,Benji,NaN,31559560.0,31559560.0
88,Contemporary Fiction,Richard Linklater,Sony Pictures,8.0,39705.0,R,Drama,2500000.0,Jan 27 1995,100.0,NaN,Original Screenplay,Before Sunrise,NaN,5274005.0,5274005.0
89,Fantasy,Gary Trousdale,Walt Disney Pictures,3.4,354.0,G,Musical,20000000.0,Nov 13 1991,93.0,NaN,Based on Book/Short Story,Beauty and the Beast,NaN,171340294.0,403476931.0
90,None,William Wyler,RKO Radio Pictures,8.2,17338.0,None,Drama,2100000.0,Nov 21 2046,97.0,NaN,Based on Book/Short Story,The Best Years of Our Lives,NaN,23600000.0,23600000.0
91,Historical Fiction,None,Embassy,NaN,NaN,None,Western,1305000.0,Aug 19 1983,NaN,NaN,Based on Book/Short Story,The Ballad of Gregorio Cortez,NaN,909000.0,909000.0
92,Contemporary Fiction,None,Big Fat Movies,3.2,1119.0,R,Comedy,3000000.0,Sep 30 2005,23.0,NaN,None,My Big Fat Independent Movie,NaN,4655.0,4655.0
93,Science Fiction,Jack Lee Thompson,20th Century Fox,5.0,6094.0,None,None,1800000.0,Dec 31 1972,38.0,NaN,None,Battle for the Planet of the Apes,NaN,8800000.0,8800000.0
94,None,None,None,NaN,NaN,None,None,50000.0,Dec 31 2009,NaN,NaN,None,Big Things,NaN,0.0,0.0
95,Fantasy,Norman Jewison,Warner Bros.,4.8,2742.0,PG,Comedy,32000000.0,Sep 06 1996,40.0,NaN,Original Screenplay,Bogus,NaN,4357406.0,4357406.0
96,Contemporary Fiction,Martin Brest,Paramount Pictures,7.3,45065.0,None,Action,15000000.0,Dec 05 1984,83.0,NaN,Original Screenplay,Beverly Hills Cop,NaN,234760478.0,316300000.0
97,Contemporary Fiction,Tony Scott,Paramount Pictures,6.1,29712.0,R,Action,20000000.0,May 20 1987,46.0,NaN,Original Screenplay,Beverly Hills Cop II,NaN,153665036.0,276665036.0
98,Contemporary Fiction,John Landis,Paramount Pictures,5.0,21199.0,R,Action,50000000.0,May 25 1994,10.0,NaN,Original Screenplay,Beverly Hills Cop III,NaN,42586861.0,119180938.0
99,Science Fiction,None,Walt Disney Pictures,5.6,7810.0,None,None,20000000.0,Dec 21 1979,42.0,NaN,Original Screenplay,The Black Hole,NaN,35841901.0,35841901.0

In [85]:
js[(js['Release_Date']=='Apr 04 1999') & (js['Title']=='Following')]['Director']

6    Christopher Nolan
Name: Director, dtype: object

In [88]:
js['IMDB_Votes'].dtype

dtype('float64')